<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 富文本编辑器打印值： -->
  <h3 style="line-height: 1.15;">
    <span style="color: rgb(225, 60, 57); background-color: rgb(233, 233, 233); font-size: 29px; font-family: 楷体;">
      <s>
        <u>
          <em>
            <strong>今天测试了富文本编辑器ABC123!!!😂👌</strong>
          </em>
        </u>
      </s>
    </span>
  </h3>
</body>

</html>
