ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.floor-videos {
  position: relative;
}

.floor-videos .swiper-slide {
  height: 100vh;
}

.floor-videos .swiper-slide .video-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 100vh;
}

.floor-videos .swiper-slide .video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.floor-videos .swiper-slide1 .video-wrap {
  background-image: url("https://resource.teld.cn/teldimage/107/teld-official-index-beta-01.jpg");
}

.floor-videos .slide-wrap {
  height: 100%;
  background-size: cover;
}

.info-block {
  user-select: none;
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  bottom: 91px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 127px;
  background: rgba(0, 42, 71, 0.5);
  border-radius: 26px;
  padding: 18px 23px 20px;
  white-space: nowrap;
}

.info-block .info-block-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block .info-block-left .h5,
.info-block .info-block-left .h2 {
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.info-block .info-block-left .h5 {
  margin-bottom: 15px;
  line-height: 20px;
  font-size: 18px;
  font-weight: normal;
}

.info-block .info-block-left .h2 {
  line-height: 36px;
  font-size: 34px;
  font-weight: bold;
}

.info-block .info-block-split {
  width: 1px;
  height: 54px;
  background: #fff;
  margin: 0 0 0 20px;
}

.info-block .more-tips {
  position: absolute;
  right: 15px;
  bottom: -30px;
  font-size: 16px;
  color: #7a8b9b;
}

.info-block-right ol {
  display: flex;
}

.info-block-right .one-info {
  display: flex;
  margin-top: 28px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 0 25px;
}

.info-block-right .middle {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  line-height: 37px;
  font-size: 28px;
  text-align: right;
  letter-spacing: 2px;
  font-weight: bold;
}

.info-block-right .unit {
  position: absolute;
  top: -28px;
  right: 0;
  transform: translateX(0.5em);
  line-height: 27px;
  font-size: 16px;
  text-align: right;
}

.info-block-right .unit .space {
  color: rgba(255, 255, 255, 0);
  opacity: 0;
}

.info-block-right .unit .margin-more {
  margin-right: 7px;
}

.info-block-right .bottom {
  line-height: 24px;
  font-size: 22px;
  text-align: center;
  align-self: center;
}
/* part2 */ 
.floor-videos .swiper-pagination-bullets, .floor-videos .swiper-pagination2 {
    display: flex;
    left: 72px;
    bottom: 50px;
}
.floor-videos .swiper-pagination-bullet-active, .floor-videos .swiper-pagination-bullet {
    position: relative;
    box-sizing: content-box;
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    background-clip: content-box;
    margin: 0 4px;
    border-width: 15px 0;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0);
    cursor: pointer;
}
.floor-videos .swiper-pagination-bullet-active {
    opacity: 0.58;
}
