.Header {
    position: fixed;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    z-index: 20;
}
.isTop {
    background: rgb(16, 22, 27, 0.7);
    transition-duration: 1s;
}
.logo {
    cursor: pointer;
    height: 42px;
    margin-top: 10px;
    margin-left: 40px;
}
.user-box-blank {
    display: inline-block;
}
.blank-box {
    width: 70px;
}
.user-img {
    display: inline-block;
    background-size: 100%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.user-img:hover {
    cursor: pointer;
}
.user-name {
    padding-left: 14px;
}
a {
    pointer-events: auto;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
span {
    cursor: pointer;
}
.drop-down-menu-item {
    width: 150px;
}
.drop-down-menu-item-text {
    display: inline-block;
    width: 150px;
}
.drop-down-menu-item:hover {
    cursor: pointer;
}
.drop-down {
    display: flex;
    position: fixed;
    width: 100%;
    padding-top: 60px;
    z-index: 15;
}
.drop-down-menu {
    margin-right: 7%;
    margin-left: 13%;
    margin-bottom: 2%;
}
.showMenu {
    max-height: 420px;
    overflow: hidden;
    transition: max-height 0.5s;
    background: rgba(0, 42, 71, 0.5);
    backdrop-filter: blur(20px);
}
.hideMenu {
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.5s; */
}
.show-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #7ac9ff;
    margin-right: 10px;
}
.hide-circle {
    opacity: 0;
}
.active-menu {
    color: #7ac9ff;
}
.Header .categories {
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    flex-direction: column;
    width: 35%;
    font-weight: 900;
}
.Header .categorie-menu {
    height: 60px;
    line-height: 60px;
}
.product {
    width: 25%;
    margin-top: 2%;
    margin-left: 5%;
}
.product-title {
    color: #fff;
    font-weight: 900;
    user-select: none;
}
.product-imgs {
    display: flex;
}
.product-small-imgs {
    display: flex;
    flex-direction: column;
}
.product-img1 {
    width: 200px;
    height: 170px;
    margin-right: 10px;
}
.product-img2 {
    height: 80px;
    margin-bottom: 10px;
}
.product-img3 {
    height: 80px;
}
.el-menu {
    border-right: none;
    list-style: none;
    position: relative;
    /* margin: 0; */
    padding-left: 0;
    background-color: #fff;
}
.el-menu-item {
    font-size: 16px;
    font-weight: 900;
    user-select: none;
    height: 60px;
    line-height: 60px;
}
.el-menu-item:hover {
    outline: none;
    background-color: transparent !important;
}
.el-menu.el-menu--horizontal {
    border-bottom: none;
}
.el-menu--horizontal > .el-menu-item {
    float: right;
}
.drop-down .el-menu--horizontal > .el-menu-item {
    float: left;
}
li.el-menu-item.user-menu-login,
li.el-menu-item.blank-box {
    border-bottom: none;
}
li.el-menu-item.blank-box:hover {
    cursor: default;
}
li.el-menu-item:hover {
    cursor: default;
}
li.el-menu-item.user-menu-no-login {
    border-bottom: 2px solid transparent;
}
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus {
    background-color: transparent !important;
}
.horizontalMenu .el-menu {
    width: 500px;
    margin-bottom: 2%;
}
.horizontalMenu .el-menu--horizontal > .el-menu-item.is-active {
    border-bottom-color: transparent !important;
    background-color: transparent !important;
}
.horizontalMenu .el-menu--horizontal > .el-menu-item {
    width: 220px;
}
.user-menu {
    width: 140px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 14px;
    position: relative;
    z-index: 16;
}
.triangle {
    width: 25px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    top: -16px;
    left: 30px;
}
.triangle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transform-origin: left bottom;
    transform: rotate(45deg);
}
.user-menu-item {
    width: 120px;
    padding: 12px 0 12px 0;
    font-size: 16px;
    font-weight: 900;
    border-bottom: 1px solid #d1d9e0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}
.user-menu-item:last-child {
    border-bottom: none;
}
.user-menu-icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}
.user-menu-text {
    color: #00335e;
}
.logout-confirm {}
:root {
    --header-margin-right: 5%;
    --user-box-width: 180px;
    --user-box-right: 85px;
}
.navHeader {
    display: inline-block;
    margin-right: var(--header-margin-right) !important;
    min-width: 650px;
}
.user-box {
    width: var(--user-box-width);
}
.user-menu-box {
    position: fixed;
    right: calc(var(--header-margin-right) + var(--user-box-right));
    top: 60px;
    z-index: 16;
}
@media screen and (max-width: 1040px) {
    .navHeader {
        margin-right: calc(var(--header-margin-right) - 1%) !important;
    }
    .user-menu-box {
        right: calc(var(--header-margin-right) - 1% + var(--user-box-right));
    }
}
@media screen and (max-width: 1020px) {
    .navHeader {
        margin-right: calc(var(--header-margin-right) - 2%) !important;
    }
    .user-menu-box {
        right: calc(var(--header-margin-right) - 2% + var(--user-box-right));
    }
}
@media screen and (max-width: 1000px) {
    .navHeader {
        margin-right: calc(var(--header-margin-right) - 3%) !important;
    }
    .user-menu-box {
        right: calc(var(--header-margin-right) - 3% + var(--user-box-right));
    }
}
@media screen and (max-width: 980px) {
    .navHeader {
        margin-right: calc(var(--header-margin-right) - 5%) !important;
    }
    .user-menu-box {
        right: calc(var(--header-margin-right) - 5% + var(--user-box-right));
    }
}
@media screen and (max-width: 960px) {
    .user-box {
        width: calc(var(--user-box-width) - 20px);
    }
    .user-menu-box {
        right: calc(var(--user-box-right) - 25px);
    }
}
@media screen and (max-width: 940px) {
    .user-box {
        width: calc(var(--user-box-width) - 40px);
    }
    .user-menu-box {
        right: calc(var(--user-box-right) - 40px);
    }
}
@media screen and (max-width: 920px) {
    .el-menu-item {
        padding: 0 15px;
    }
    .user-menu-box {
        right: calc(var(--user-box-right) - 45px);
    }
}
@media screen and (max-width: 850px) {
    .el-menu-item {
        padding: 0 10px;
    }
    .user-menu-box {
        right: calc(var(--user-box-right) - 50px);
    }
}
